@import "base/variables";

//foundation
@import "base/foundation-settings";
@import "foundation";
@include foundation-everything;

//Components
@import "components/video";
@import "components/videoList";
@import "components/addVideo";
@import "components/login";
