//Colors
$grey: #5A5A5A;
$light-grey-background: #e7e7e7;
$light-green: #ACFF93;
$light-red: #FF93AC;
$dark-grey: #35363B;
$darker-grey: #333;

//Components
$video-background: $light-grey-background;
$video-text: $dark-grey;
$video-background-liked: $light-green;
$video-background-disliked: $light-red;
