.video {
  //align-items: center;
  background: $video-background;
  border-radius: 10px;
  border: solid 1px $dark-grey;
  color: $video-text;
  cursor: pointer;
  display: flex;
  margin: 1rem auto 0 auto;
  //min-width: 430px;
  padding: 1rem;
  min-width: 5rem;
  p, input {
    margin: 0;
  }

  > :first-child{
    margin-right: 1rem;
  }

  &:hover {
    background: #f0f0f0;
  }
}

.video-liked {
  background: $video-background-liked;
}
.video-disliked {
  background: $video-background-disliked;
}

.video__player {
  display:grid;
  margin:0 auto;
  padding: 3rem 0;
}
.video__player__hidden{
  display: none;
}
.video__subtext {
  color: $grey;
}
.video__controlls{
  .button {
    border-radius: 10px;
  }
}
.video__container {
  margin: 0 auto;

  h3 {
    font-size: 1.4rem;
  }
}
